*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-color: #191818; */
}
            /* envato & buy now  */
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 20px;
    border-bottom:1px solid #191818;
    background-color: #262626;
}
.image{
    height: 25px;
    width: 50px;
}
.img{
    height: 52%;
}
.butt{
    background-color: #8bd52a;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 5px;
    transition:  ease-in-out 0.5s;
}
.butt :hover{
    background-color: #7AA93C;
}
              /* first header */
.NAVS{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #191818;
    padding: 10px;
    background-color: #262626;
}
.headset{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.phone{
    color: #A8741A;
    font-size: 10px;
    margin-left: 10px;
}
.IMA{
 height: 40px;
 
}
.boxes{
    display: flex;
    align-items: center;
    width: 220px;
    height: 40px;
    justify-content: space-around;
}
.box{
    width: 35px;
    height: 35px;
    border-radius: 2px;
    border: 2px solid #1d171775;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.box i{
    font-size: 15px;
    color: #fff;
}
.box :hover{
    color: #bb7b0d;
    cursor: pointer;
}
.big_box{
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid #1d171775;
    margin-left: 10px;
}
.big_box h5{
    background-color:  #bb7b0d;
    height: 20px;
    width: 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: -5px;
    position: absolute;
}
.big_box i{
    margin-left: 15px;
    color: #ffffffe4;
}
.b{
    align-items: end;
    display: flex;
    margin-left: 35px;
    font-size: 15px;
    color: #242424;
 
    /* padding: 20px; */
    
}
.b :hover{
    color: #bb7b0d;
    cursor: pointer;
}

              /* second header  */
.header1{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 222;
    box-shadow: rgba(0, 0, 0, 0.188) 0px 3px 8px;
    background-color: #262626;
    transform: all transition 0.35ms ease-in-out, top 0.35ms;;
}
.navs{
    display: flex;
    align-items: center;
     margin-left: 450px;         
}
.nav{
    margin: 20px;
    color: #fff;   
}
.both{
    align-items: center;
    display: flex; 
}
.awe{
    font-size: 9px;
    color: #fff;
    margin-left: -10px;
    margin-top: 5px;
}
.both :hover{
    color: #bb7b0d;
    cursor: pointer;
}
                    /* hero session */
.red{
    width: 100%;
    height: 500px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 10px; */
}
.detailText {
    width: 40%;
    height: 500px;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 80px 0px;
    /* background-color: red; */
    
}
.Dp {
    width: 40%;
    height: 500px;
}
.detailText h1{
    font-size: 50px;
    color: #fff;
    justify-content: center;
    font-family: prata;
    margin-right: 102px;
}
.butts{
    border: 2px solid #A8741A;
    padding: 8px;
    background-color: #171717;
    color: #fff;
    font-family: prata;
    margin-right: 395px;
    margin-bottom: 100px;
    margin-top: 20px;
}
.butts:hover{
    background-color: #A8741A;
    cursor: pointer;
}
                  /* <!-- after hero session --> */
.mother{
    width: 100%;
    height: 400px;
    border-bottom:1px solid #100f0fa8;
    background-color:#242424;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 100px;
    /* cursor: pointer; */
    flex-direction: column;
}
.father{
    width: 100%;
    height: 250px;
    background-color:#242424;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.child{
    width: 300px;
    height: 200px;
    /* background-color: red; */
    background-image: url(/ASSEST/mousareet/img1-top-mirora1.jpg);
    border-radius: 7px;
    padding-left: 20px;
    font-family: prata;
    line-height: 30px;
    color: #fff;
}
.childs{
    width: 300px;
    height: 200px;
    border-radius: 7px;
    background-image: url(/ASSEST/mousareet/img2-top-mirora1.jpg);
    padding-left: 20px;
    font-family: prata;
    line-height: 30px;
    color: #fff;
}
.childss{
    width: 300px;
    height: 200px;
    border-radius: 7px;
    background-image: url(/ASSEST/mousareet/img3-top-mirora1.jpg);
    padding-left: 20px;
    font-family: prata;
    line-height: 30px;
    color: #fff;
}
              /* product grid */
.product-grid {
    width: 100%; 
    /* max-width: 1200px; */
    height: 700px;
    padding: 20px 120px;
    background-color: #242424;
}
.product-grid-header {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 30px;
    justify-content: center;
}
.B{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #181818;
    font-size: 16px;
}
.active{
    border: 2px solid #A8741A;
    background-color: #333;
    color: #A8741A;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.B:hover{
    color: #A8741A;
}
.product-items{
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px;
    /* align-items: center; */
}
.product-item-house{
    width: 160px;
    height: 250px;
    background-color: #242424;
    align-items: center;
    justify-content: space-around;
    /* padding: 10px; */
    line-height: 25px;
}
.main-house{
    background-color: orange;
    width: 100%;
    height: 150px;
    position: relative;
}
.discount-badge{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #A8741A; 
    color: white;
    padding: 0px 10px;
    border-radius: 2px;
    font-size: 10px;
}
.watch-size{
    object-fit: cover;
    height: 160px;
    /* margin-right: 20px; */
}
hr{
    border: none;
    height: 1px;
    background-color: #333333e1;
     /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
     background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.815) 50%, rgba(0, 0, 0, 0) 100%);
     margin-top: 10px;
     /* padding: 5px 10px; */ 
}
           /* NEW TRENDING COLLECTION */
.trending{
    width: 100%;
    height: 300px;
    /* background-color: pink; */
    background-image: url(/ASSEST/img-middle-mirora1\ -\ Copy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
}
.shop_Now{
    padding: 10px 25px;
    border: 1px solid #A8741A;
    background-color: transparent;
    color: #fff;
    margin-top: 30px;
    font-family: halvetica;
}
.shop_Now:hover{
    background-color: #A8741A;
    cursor: pointer;
}
                    /* <!-- MOST VIEWED PRODUCTS --> */
.viewed{
    width: 100%;
    height: 400px;
    border-bottom: 2px solid #1d1d1db6;
    background-color: #242424;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
.with_hr{
    height: 30px;
    width: 100%;
    /* background-color: rgb(0, 166, 255); */
    /* padding-bottom: 10px; */
    display: flex;
    align-items: center;
}
.hr{
    width: 750px;
    height: 1px;
    background-color: #181818;
    margin-left: 12px;
}
.blog_house{
    width: 100%;
    height: 830px;
    background-color: #242424;
    padding: 50px 120px;
    align-items: center;
    border-bottom: #2E2E2E;
}
.blog_content{
    width: 100%;
    height: 400px;
    /* background-color: purple; */
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
}
.frame{
    width: 31%;
    height: 100%;
    /* background-color: greenyellow; */
}
.photos{
    width: 100%;
    height: 45%;
    /* background-color: gold; */
}
.BLOGS{
    height: 186px;
    object-fit: cover;
}
.space{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 14px;
}
.frame h3{
    margin-top: 10px;
    color: #ffffffed;
}
.frame h3:hover{
    color: #bb7b0d;
    cursor: pointer;
}
.insta{
    background-color:#bb7b0d;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    /* align-items: center; */
    margin-left: 400px;
    font-family: halvetica;
    margin-top: 20px;
}
.insta:hover{
    background-color: #232121;
}
.sub-enter{
    display: flex;
    align-items: center;
  margin-top: 20px;
}
.Enter{
    width: 400px;
    height: 40px;
    background-color: #242424;
    color: #ffffff92;
    border: 1px solid #2E2E2E;
    padding: 10px;
    font-size: 12px;
    margin-left: 150px;
}
.Sub{
    background-color: #2E2E2E;
    color: #fff;
    padding: 12px 40px;
   margin-left: 15px;
    cursor: pointer;
    border: none;
    font-family: halvetica;
}
.Sub:hover{
    background-color: #bb7b0d;
}
.Arrivals{
    width: 100%;
    height: 200px;
    background-color: #242424;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    display: flex;
    border-bottom:2px solid #232121;
}
.arrives{
    width: 49%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    background-image: url(/ASSEST/img2-bottom-mirora1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 35px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding-left: 50px; */
}
.arrive{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    height: 100%;
    background-image: url(/ASSEST/mousareet/img1-bottom-mirora1.jpg);
    line-height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #222;
    color: #fff; 
    padding: 40px 120px;                        
    font-family: Arial, sans-serif; 
    font-size: 12px;                            
}

.footer-container {
    width: 100%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.footer-section {
    flex: 1 1 200px; 
    margin-bottom: 20px; 
    /* line-height: 25px; */
}
.styling{
    color: #ffffffbf;
    line-height: 25px;
}
.footer-section h3 {
    font-size: 16px;                  
    margin-bottom: 15px; 
    color: #ccc; 
}
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px; 
    color: #aaa;
}

.social-icons a:hover {
    color: #fff;
}
.footer-section ul {
    list-style: none; 
    padding: 0;
}

.footer-section li {
    margin-bottom: 8px; 
}
.footer-section a {
    color: #aaa; 
    text-decoration: none; 
}
.footer-section a:hover {
    color: #A8741A;  
}
.custom-products {
    display: flex; 
    flex-direction: column; 
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product img {
    width: 60px; 
    margin-right: 15px;
}

.product-details {
    flex-grow: 1; 
}

.product-details h4 {
    margin: 0;
    font-size: 14px;
}

.product-details p {
    margin: 5px 0;
    font-size: 14px;
}

.bottom-bar {
    text-align: center; 
    padding-top: 20px; 
    border-top: 1px solid #333; 
    margin-top: 30px; 
}

.bottom-bar nav ul {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
   
}

a {
    text-decoration: none; 
  
    color: #ffffffb6;
  }
  a:hover{
    color: #bb7b0d;
  }
  

.bottom-bar nav li {
    margin: 0 15px;
    text-decoration: none; 
    color: inherit; 
    
}
.bottom-bar p{
    color: #ffffffb6;
    margin-top: 20px;
    font-size: 12px;
}
.payment-icons {
    margin-top: 5px;
    text-align: center;
}

.payment-icons img {
    height: 25px; 
    margin: 0 5px;
}


