* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
   width: 100%;
    min-height: 100vh;
    background-color: #242424;
    font-family: "Encode Sans Condensed", sans-serif;
    padding: 0px 20px 0px 20px;

}
           /* envato & buy now 
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 20px;
    border-bottom:1px solid #191818;
    background-color: #262626;
}
.image{
    height: 25px;
    width: 50px;
}
.img{
    height: 52%;
}
.butt{
    background-color: #8bd52a;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 5px;
    transition:  ease-in-out 0.5s;
}
.butt :hover{
    background-color: #7AA93C;
} */
              /* first header */

.NAVS{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #191818;
    padding: 10px;
    background-color: #262626;
}
.headset{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.phone{
    color: #A8741A;
    font-size: 10px;
    margin-left: 10px;
}
.IMA{
 height: 40px;
 
}
.boxes{
    display: flex;
    align-items: center;
    width: 210px;
    height: 40px;
    justify-content: space-around;
    background-color: #242424;
}
.box{
    width: 35px;
    height: 35px;
    border-radius: 2px;
    border: 2px solid #1d171775;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box i{
    font-size: 15px;
    color: #fff;
}
.box :hover{
    color: #bb7b0d;
    cursor: pointer;
}
.big_box{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid #1d171775;
}
.big_box h5{
    background-color:  #bb7b0d;
    height: 20px;
    width: 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: -5px;
    position: absolute;
}
.big_box i{
    margin-left: 15px;
    color: #ffffffe4;
}
.b{
    align-items: center;
    display: flex;
    margin-left: 15px;
    font-size: 15px;
    color: #fff;
}
.b :hover{
    color: #bb7b0d;
    cursor: pointer;
}

              /* second header  */
.header1{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 222;
    box-shadow: rgba(0, 0, 0, 0.188) 0px 3px 8px;
    background-color: #262626;
    transform: all transition 0.35ms ease-in-out, top 0.35ms;;
}
.navs{
    display: flex;
    align-items: center;
    margin-left: 450px;        
}
.nav{
    margin: 20px;
    color: #fff;   
}
.both{
    align-items: center;
    display: flex; 
}
.awe{
    font-size: 9px;
    color: #fff;
    margin-left: -10px;
    margin-top: 5px;
}
.both :hover{
    color: #bb7b0d;
    cursor: pointer;
}
.title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}



.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time h4 {
    font-size: 16px;
}

.time h3 {
    font-size: 14px;
}

.cards h2 {
    font-size: 16px;
    font-weight: 500;
}

.cards p {
    font-size: 13px;
    font-weight: 300;
}


/* Apply Flexbox */
.page {
    display: flex;
    justify-content: center;
    background-color: #222;
    min-height: 90vh;
   
}

/* Sidebar Styling */
.sideBar {
    width: 20%;
    background-color: #222;
    color: white;
    padding:0px 20px;
    min-height: auto;

}


.image {
 width: 100%;
 height: 350px;  
}

.image img {
    width: 100%;
    height: 100%;
   
}

.fix h3 {
    margin-bottom: 10px;
}

.next {
    width: 100%;
    border: 1px solid #343434;
    border-radius: 4px;
    padding: 4px;
}


.search-container {
    width: 185px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    
}
.search-container input {
    border: 0.5px solid #626262;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 8px;
    background-color: #343434;
    margin-top: 10px;
    width: 80px; 
    border-radius: 8px;
    position: relative;
}

.search-container i {
    font-size: 10px;
    color: #e7e2e2c7;
    cursor: pointer;
    margin-left: 140px;
    margin-top: 10px;
    position: absolute;
}


.archives {
   margin-top: 10px; 
}

.archives h3 {
    margin-bottom: 10px;
}
.page h3 {
    font-size: 12px;
    margin-top: 10px;
}

.poster h3 {
    margin-bottom: 10px;
}

.dates {
    width: auto;
    height: auto;
    background-color: #343434;
    color: #f9f9f9;
    padding: 5px;
    line-height: 7px;
}


.fixed {
    height: auto;
    width: auto;
    background-color: #343434;
    color: #f9f9f9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;

}
.dates p {
    font-size:  13px;
    font-weight: 400;
    padding: 10px;
}

.post {
    width: 100px;
    height: 60px;
    border-radius: 5px;
    /* justify-content: space-between; */
}

.post img {
    width: 100%;
    height: 85%;
    object-fit: contain;
    border-radius: 5px;
}

.hold {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
   

}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
}

.detail h4 {
    font-size: 13px;
    font-weight: 400;
}

.detail p {
    font-weight: 200;
    font-size: 13px;
}

.fb{
    height: 80px;
    width: 195px;
}

.fb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fbk {
    height: auto;
    width: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.boxes {
    width: auto;
    height: auto;
    padding: 5px;
    background-color:#343434;
    display: flex;
    flex-wrap: wrap;
    color: #afafaf;
    gap: 5px;
}

.c {
    background-color: #343434;
    border: 0.5px solid #afafaf;
    border-radius: 3px;
    color: white;
    padding: 15px 10px;
    font-size: 14px;
    
}

.Twitter {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.Twitter h3 {
    margin-bottom: 10px;
}
.logo {
    height: 80px;
    width: 80px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contents {
    width: 100px;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contents h4 {
    font-size: 10px;
    font-weight: 500;
}

.contents p{
    color: #afafaf;
 font-size: 10px;
 font-weight: 200;
}

.split {
    display: flex;
    justify-content: space-between;
}

/* otherpage */

.fullPage {
    background-color: #222;
   width: 60%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   
}

/* Card Styling */
.cards {
    width: 335px;
    height: 400px; 
    background: #343434;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #afafaf;
    display: flex;
    flex-direction: column;
     gap: 10px; 
}
.cards2 {
    width: 380px;
    height: 460px; 
    background: #343434;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #afafaf;
    display: flex;
    flex-direction: column;
    margin-top: -450px;
    /* gap: 10px; */
}

.btn {
    width: 120px;
    background-color: goldenrod;
    color: white;
    padding: 10px 3px;
    border: none;
    border-radius: 2px;
    font-size: 8px;
    font-weight: 200;
    margin-top: 5px;
}
.btn:hover{
    background-color: #242424;
    cursor: pointer;
}

.tags {
    margin-top: 10px;
}

.pagation {
    height: 40px;
    width: 100%;
    border-radius: 2px;
    border: 0.5px solid #626262;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}



footer {
    background-color: #222;
    color: #fff; 
    padding: 40px 120px;                        
    font-family: Arial, sans-serif; 
    font-size: 12px;                            
}

.footer-container {
    width: 100%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.footer-section {
    flex: 1 1 200px; 
    margin-bottom: 20px; 
    /* line-height: 25px; */
}
.styling{
    color: #ffffffbf;
    line-height: 25px;
}
.footer-section h3 {
    font-size: 16px;                  
    margin-bottom: 15px; 
    color: #ccc; 
}
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px; 
    color: #aaa;
}

.social-icons a:hover {
    color: #fff;
}
.footer-section ul {
    list-style: none; 
    padding: 0;
}

.footer-section li {
    margin-bottom: 8px; 
}
.footer-section a {
    color: #aaa; 
    text-decoration: none; 
}
.footer-section a:hover {
    color: #A8741A;  
}
.custom-products {
    display: flex; 
    flex-direction: column; 
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product img {
    width: 60px; 
    margin-right: 15px;
}

.product-details {
    flex-grow: 1; 
}

.product-details h4 {
    margin: 0;
    font-size: 14px;
}

.product-details p {
    margin: 5px 0;
    font-size: 14px;
}

.bottom-bar {
    text-align: center; 
    padding-top: 20px; 
    border-top: 1px solid #333; 
    margin-top: 30px; 
}

.bottom-bar nav ul {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
   
}

a {
    text-decoration: none; 
  
    color: #ffffffb6;
  }
  a:hover{
    color: #bb7b0d;
  }
  

.bottom-bar nav li {
    margin: 0 15px;
    text-decoration: none; 
    color: inherit; 
    
}
.bottom-bar p{
    color: #ffffffb6;
    margin-top: 20px;
    font-size: 12px;
}
.payment-icons {
    margin-top: 5px;
    text-align: center;
}

.payment-icons img {
    height: 25px; 
    margin: 0 5px;
}
